<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://www.myget.org/F/tailwindtraders/api/v3/index.json" />
    <add key="MyGet2" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Miguel" value="https://www.myget.org/F/miguelrb/api/v3/index.json" />
  </packageSources>
</configuration>
